body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);

}

:root {
    --main-color: #1D1A31;
    --grape-soda: #9A4C95;
    --blackberry: #4D2D52;
    --tint: #F08CAE;
    --white: #ffffff;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 32px;
}


h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

.h3-list {
    padding-bottom: 16px;
}


ul,
ol {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.header {
    background-color: var(--main-color);
    border-radius: 0px 0px 10px 10px;
    padding: 20px 30px 20px 30px;
}

.main {
    margin: 0px 30px 20px 30px;
}

.h {
    margin-bottom: 20px;
    margin-top: 20px;
}

.h3 {
    padding-bottom: 10px;
}


.hd-text {
    color: var(--white);
    font-size: 20px;
}

.text {
    padding-top: 38px;
    padding-bottom: 10px;
}

.list-p {
    line-height: 1.5;
}

.app-list {
    display: flex;
    gap: 12px;
}

.text-fig {
    font-size: 12px;
    text-align: center;
}

.image {
    border-radius: 10px;
    padding-bottom: 4px;
}

.header_link {
    color: var(--white);
}

.wrapper_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_list-menu {
    display: flex;
    gap: 34px;
    justify-content: end;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.container {
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-journalist {
    padding-top: 20px;
}


.container-2 {
    display: flex;
    gap: 20px;
    justify-content: center;
}


.card {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    max-width: 264px;
}

.img-card {
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}


.footer {
    background-color: var(--main-color);
}

.app-list-icon {
    display: flex;
}

.svg {
    fill: var(--white);
}